<title>Template A</title>
<body>
  <div class="header">
    <h3>Header A</h3>
  </div>

  <div class="main">
    <h3>Hello world from template A</h3>
    {{ userData.firstName }}
    {{ userData.lastName }}
    {{ userData.email }}
    {{ userData.address }}
  </div>
</body>
